@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
  url('../fonts/roboto.woff2') format('woff2'),
  url('../fonts/roboto.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
  url('../fonts/robotomedium.woff2') format('woff2'),
  url('../fonts/robotomedium.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
  url('../fonts/robotobold.woff2') format('woff2'),
  url('../fonts/robotobold.woff') format('woff');
}

body {
  padding: 0;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;

  background-color: #849d8f;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover,
a:active {
  color: #ffbc9e;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden-block {
  display: none;
}

.reset-default-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  display: inline-block;
  padding: 15px 25px;
  border-radius: 25px;

  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: inherit;
  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);

  border: none;
  box-shadow: 0 2px 0 0 #ac1000;
  cursor: pointer;
}

.container {
  width: 1200px;
  padding: 0 27px;
  margin: 0 auto;
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.main-navigation {
  display: flex;
  font-size: 16px;
  line-height: 18px;

  align-items: center;
}

.main-logo-link {
  margin-right: 24px;
  margin-top: 11px;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #ffbc9e;
}

.main-menu {
  display: flex;
}

.main-menu .main-menu-sub {
  display: none;
}

.main-menu .main-menu-item {
  margin-right: 27px;
}

.header-form-auth-link {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
}

.header-controls {
  display: flex;
}

.header-controls .header-form-search,
.header-controls .header-form-auth {
  display: none;
}

.header-contact-info {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.header-contact-info-link {
  font-size: 22px;
  line-height: 24px;
}

.best-product-slider .slider-item:not(:nth-child(1)) {
  display: none;
}

.advantages-wrapper {
  padding: 30px 20px;
  margin-bottom: 40px;
  border-radius: 15px;
  color: #000000;
  background-color: #eee0c4;
  background: url("../img/bg/adv-bg.jpg") repeat-x 0 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages-wrapper-title {
  margin-top: 0;

  font-size: 24px;
  line-height: 30px;
}

.advantages-item {
  width: 530px;
  padding-left: 57px;
}

.blog-subscribe-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog-wrapper {
  width: 560px;
  padding: 25px 20px;
  background-color: #ffffff;
  background: url("../img/bg/blog-bg.jpg") no-repeat 0 0;
  border-radius: 15px;
}

.blog-title {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.blog-element-link {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.subscribe-wrapper {
  width: 560px;
  padding: 35px 25px;
  background-color: #f8f7f4;
  background: url("../img/bg/subscribe-bg.svg") no-repeat 0 0;
}

.subscribe-text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;
}

.footer-menu-link {
  font-size: 13px;
  line-height: 18px;
}
.footer-menu-item:first-child a {
  font-weight: 700;
}

.footer-copyright-text {
  font-size: 12px;
  line-height: 18px;
}

.modal {
  display: none;
  background-color: #f8f7f4;
}

.feedback-form-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form textarea {
  font-weight: 400;
  color: #999999;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
}

.feedback-form input::placeholder{
  color: #999999;
}

.product-list {
  display: flex;
}

.product-list .product-price {
  font-size: 45px;
  line-height: 45px;
}

.product-list .product-price-measure {
  font-size: 30px;
}

.product-name-link {
  font-size: 16px;
  line-height: 22px;
}

.products-pagination {
  font-size: 16px;
  line-height: 18px;
}

.products-pagination-link.active,
.products-pagination-link:active {
  color: #353535;
}

.filter-form label {
  font-size: 16px;
  line-height: 18px;
}

.filter-form legend {
  font-size: 14px;
  line-height: 16px;
}

.slider-list .slider-text {
  font-size: 60px;
  line-height: 60.35px;
  text-align: center;
}

.actions-list {
  display: flex;
  justify-content: space-between;
}

.actions-list .action-item {
  width: 560px;
  min-height: 229px;
  border-radius: 15px;
  padding: 17px 20px;
}

.actions-list .action-name {
  font-size: 35px;
  line-height: 41px;
  margin: 0;
}

.actions-list .action-text {
  font-size: 18px;
  line-height: 22px;
  margin-top: 13px;
}

.actions-list .action-item-raspberry {
  background: url("../img/bg/action-bg-1.jpg") no-repeat 0 0;
}

.actions-list .action-item-chocolate {
  background: url("../img/bg/action-bg-2.jpg") no-repeat 0 0;
}

.contacts-wrapper {
  color: #323232;
}

.contacts-title{
  font-size: 14px;
  line-height: 20px;
}

.contacts-address{
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts-phone {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #323232;
}

.contacts-time {
  font-size: 14px;
  line-height: 22px;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
}

.header-controls {
  width: 235px;
  justify-content: space-between;
  align-items: center;
}
.header-controls-wrapper {
  margin-left: 10px;
}

.header-btn {
  cursor: pointer;
}

.header-btn-search,
.header-auth {
  background: none;
  border: none;
}

.header-btn-search svg,
.header-auth svg {
  fill: #ffffff;
}

.header-btn-search:hover svg,
.header-auth:hover svg {
  fill: #323232;
}

.footer-menu {
  display: flex;
  width: 326px;
  flex-wrap: wrap;
}

.footer-social {
  display: flex;
}

/*Catalog Page*/
.basket-wrapper .cart-content-wrapper {
  display: none;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs .breadcrumbs-item {
  margin-right: 22px;
}

.product-list {
  flex-wrap: wrap;
}

.product-list-item {
  width: 267px;
  margin-right: 26px;
}

.product-list-item:nth-child(4n) {
  margin-right: 0;
}

.product-list-item .product-name-link {
  display: block;

  font-weight: 500;
  text-align: center;
}
