@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto";

  src: local("Roboto"), local("Roboto-Regular"),
  url("../fonts/roboto.woff2") format("woff2"),
  url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Roboto";

  src: local("Roboto Medium"), local("Roboto-Medium"),
  url("../fonts/robotomedium.woff2") format("woff2"),
  url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto";

  src: local("Roboto Bold"), local("Roboto-Bold"),
  url("../fonts/robotobold.woff2") format("woff2"),
  url("../fonts/robotobold.woff") format("woff");
}

body {
  padding: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;

  background-color: #849d8f;

  transition: background-color 0.5s ease;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover,
a:active {
  color: #ffbc9e;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.reset-default-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.btn {
  display: inline-block;
  padding: 11px 23px;

  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  vertical-align: middle;
  color: #fefefe;
  white-space: nowrap;

  background: rgb(231, 74, 53) linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border: none;
  border-radius: 50px;
  box-shadow: 0 2px 0 0 rgb(172, 16, 0, 0.64);
  cursor: pointer;
}

.btn:hover {
  color: #fefefe;

  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  color: #fefefe;

  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.main-header {
  position: relative;
  z-index: 10;
}

.main-header .container {
  position: relative;

  display: flex;
  justify-content: space-between;
}

.main-navigation {
  display: flex;
  align-items: center;

  font-size: 16px;
  line-height: 18px;
}

.main-logo-link {
  margin-top: 9px;
  margin-right: 10px;
  margin-bottom: 4px;
}

.main-logo-img {
  display: block;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #ffbc9e;
}

.main-menu {
  display: flex;
}

.main-menu .main-menu-link {
  position: relative;

  padding: 7px 14px;

  border-radius: 50px;
}

.main-menu .main-menu-link::after {
  content: "";
  position: absolute;
  right: 14px;
  bottom: 6px;
  left: 14px;

  height: 1px;

  background-color: rgba(255,255,255,0.2);
}

.main-navigation .main-menu-link:hover {
  color: #323232;

  background-color: #f7f6f3;
}

.main-menu-link:hover::after,
.main-menu-link.active::after {
  display: none;
}

.main-menu .main-menu-sub {
  position: absolute;
  z-index: 10;

  display: none;
  margin: 13px 0 0 -6px;
  padding: 3px 0 9px 0;

  list-style: none;

  background-color: rgb(248, 247, 244);
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.main-menu-item.has-children {
  position: relative;
}

.main-menu-sub-item:first-child {
  position: relative;

  margin-bottom: 9px;
}

.main-menu-sub-item:first-child .main-menu-sub-link,
.main-menu-sub-item:first-child .main-menu-sub-link:hover {
  font-weight: 700;
}

.main-menu-sub-item:first-child::before {
  content: "";
  position: absolute;
  right: 9px;
  bottom: -6px;
  left: 6px;

  display: block;
  height: 1px;

  background-color: rgba(53, 53, 53, 0.2);
}

.main-menu-sub .main-menu-sub-link,
.main-menu-sub .main-menu-sub-link:hover,
.main-menu-sub .main-menu-sub-link:active {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  white-space: nowrap;
}

.main-menu-sub .main-menu-sub-link.active {
  color: #ffffff;

  background-color: #d07058;
}

.main-menu-sub-link {
  display: block;
  padding: 6px 20px;
}

.main-menu-sub-item:hover {
  background-color: #fbded7;
}

.main-menu-sub-item:active {
  background-color: #f6b5a5;
}

.main-menu-item:hover .main-menu-sub {
  display: block;
}

.main-menu-link.active {
  padding: 7px 14px;

  color: #ffffff;

  background-color: #d07058;
  border-radius: 50px;
}

.header-form-auth-link {
  position: relative;

  display: inline-block;

  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  vertical-align: top;
  color: #323232;
}

.header-form-auth-link::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 2px;
  left: 0;

  height: 1px;

  background-color: rgba(0, 0, 0, 0.3);
}

.header-form-auth-link:hover::after,
.header-form-auth-link:active::after {
  background-color: rgba(236, 89, 60, 0.3);
}

.header-controls .header-form-search,
.header-controls .header-form-auth {
  display: none;
}

.header-contact-info {
  position: absolute;
  right: 27px;
  bottom: -40px;

  margin: 0;

  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.header-contact-info-link {
  display: block;
  margin-top: 4px;

  font-size: 22px;
  line-height: 24px;
}

.container-front {
  margin-top: -77px;
}

.best-product-slider {
  position: relative;
}

.best-product-slider .slider-navigation {
  position: absolute;
  bottom: 59px;
  left: 0;

  display: flex;
  flex-wrap: wrap;
}

.slider-navigation-item {
  margin-right: 8px;
}

.slider-navigation-item:last-child {
  margin-right: 0;
}

.slider-navigation-item button {
  width: 21px;
  height: 21px;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.slider-navigation-item.active button,
.slider-navigation-item.active:hover button {
  background-color: #ffffff;
}

.slider-navigation-item:hover button {
  background-color: rgba(248, 247, 244, 0.4);
}

.best-product-slider .slider-item {
  display: none;
}

.best-product-slider .slider-item.active {
  display: block;

  opacity: 1;

  animation: show-up 1s ease;
}

.best-product-slider .slider-item {
  position: relative;

  text-align: center;
}

.slider-item-content {
  position: absolute;
  top: 375px;

  width: 100%;
}

.slider-list {
  height: 647px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-list .slider-text {
  display: block;
  width: 670px;
  margin: 0 auto;

  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.btn-slider-order {
  margin-top: 32px;
  padding: 9px 41px;

  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
}

.advantages-wrapper {
  margin-bottom: 40px;
  padding: 25px 20px 28px;

  color: #323232;

  background: #eee0c4 url("../img/bg/adv-bg.jpg") repeat-x 0 0;
  border-radius: 15px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages-wrapper-title {
  margin: 0 0 8px;

  font-size: 24px;
  line-height: 30px;
}

.advantages-item {
  position: relative;

  width: 541px;
  margin-bottom: -4px;
  padding-left: 57px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.advantages-item:nth-child(2n) {
  padding-left: 58px;
}

.advantages-item p {
  margin: 13px 0;
}

.advantages-item:nth-last-of-type(-n+2) p {
  margin-bottom: 0;
}

.advantages-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 49px;
  height: 49px;
}

.advantages-item-ice::before {
  background: url("../img/icons/adv-ice-cream.svg") no-repeat center center;
}

.advantages-item-cow::before {
  background: url("../img/icons/adv-cow.svg") no-repeat center center;
}

.advantages-item-leaf::before {
  background: url("../img/icons/adv-leaf.svg") no-repeat center center;
}

.advantages-item-therm::before {
  background: url("../img/icons/adv-thermometer.svg") no-repeat center center;
}

.blog-subscribe-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog-wrapper {
  width: 560px;
  padding: 25px 20px;

  background: #ffffff url("../img/bg/blog-bg.jpg") no-repeat 0 0;
  border-radius: 15px;
}

.blog-title {
  margin: 0;

  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.blog-element-name {
  width: 290px;
  margin: 5px 0;
}

.blog-element-link {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;

  text-decoration-color: #353535;
  text-decoration-skip-ink: none;
}

.blog-element-link:hover,
.blog-element-link:active,
.header-form-auth-link:hover,
.header-form-auth-link:active {
  color: #e84d37;

  text-decoration-color: rgba(236, 89, 60, 0.3);
}

.subscribe-wrapper {
  position: relative;

  width: 560px;
  min-height: 220px;

  background: url("../img/bg/subscribe-bg.svg") no-repeat 0 0;
  border-radius: 15px;
}

.subscribe-wrapper .subscribe-container {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 6px;
  left: 6px;

  padding: 29px 21px;

  background-color: #f8f7f4;
  border-radius: 10px;
}

.subscribe-form .btn {
  padding: 9px 18px;
}

.subscribe-text {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.subscribe-form {
  display: flex;
  margin-top: 37px;
}

.subscribe-form input[type="email"] {
  height: 42px;
  margin-right: 13px;
  padding: 11px 14px;

  font-size: 16px;
  line-height: 24px;
}

.footer-menu-link {
  font-size: 13px;
  line-height: 18px;
}

.footer-menu-item {
  width: 50%;
}

.footer-menu-item:nth-child(odd) {
  width: 48%;
  padding-left: 22px;
}

.footer-menu-item-love {
  position: relative;

  font-weight: 700;
}

.footer-menu-item-love::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 15px;
  height: 13px;
  margin-top: -5px;

  background: url("../img/icons/heart.svg");
}

.footer-copyright-text {
  margin: 5px 0 0 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form textarea {
  width: 100%;
  padding: 14px;

  font-weight: 400;
  color: #999999;

  border: none;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 0 0 1pt rgba(178, 178, 178, 0.52);
}

.form textarea {
  resize: none;
}

.form input[type="text"]:hover,
.form input[type="password"]:hover,
.form input[type="email"]:hover,
.form textarea:hover {
  box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.form input[type="text"]:focus,
.form input[type="password"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
  box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
}

.form input[type="text"]:not(:placeholder-shown),
.form input[type="password"]:not(:placeholder-shown),
.form input[type="email"]:not(:placeholder-shown),
.form textarea:not(:placeholder-shown) {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #323232;
}

.modal {
  position: fixed;
  z-index: 100;

  display: none;

  background-color: #f8f7f4;
  border-radius: 8px;
}

.modal-feedback {
  top: 150px;
  left: 50%;

  width: 477px;
  margin-left: -238px;
  padding: 24px;
}

.feedback-form-title {
  margin-top: 0;
  margin-bottom: 25px;
}

.feedback-form {
  position: relative;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"] {
  width: 267px;
}

.feedback-form textarea {
  height: 155px;
}

.feedback-form-field {
  margin: 0 0 20px;
}

.feedback-form-submit {
  float: right;
}

.modal .form-close {
  position: absolute;
  top: 15px;
  right: 16px;

  width: 18px;
  height: 17px;

  background: url("../img/icons/cross-popup.svg") no-repeat center center;
  border: none;
  cursor: pointer;
}

.feedback-form-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.feedback-form input::placeholder,
.feedback-form textarea::placeholder,
.subscribe-form-email::placeholder {
  color: #999999;
}

.product-list {
  display: flex;
}

.product-list .product-price {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.product-list .product-price-measure {
  font-size: 30px;
}

.products-pagination {
  font-size: 16px;
  line-height: 18px;
}

.filter-form label {
  font-size: 16px;
  line-height: 18px;
}

.filter-form legend {
  margin-bottom: 6px;
  padding-left: 16px;

  font-size: 14px;
  line-height: 16px;
}

.actions-wrapper {
  position: relative;
  z-index: 10;

  margin-bottom: 40px;
}

.actions-list {
  display: flex;
  justify-content: space-between;
}

.actions-list .action-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 560px;
  min-height: 229px;
  padding: 16px 20px 19px 19px;

  border-radius: 15px;
}

.actions-list .action-name {
  margin: 0;

  font-size: 35px;
  line-height: 41px;
}

.actions-list .action-text {
  margin-top: 2px;

  font-size: 18px;
  line-height: 22px;
}

.actions-list .btn-action {
  align-self: flex-end;
  padding: 10px 23px 10px 22px;
}

.actions-list .action-item-raspberry {
  background: #af5d76 url("../img/bg/action-bg-1.jpg") repeat-y 0 0;
}

.actions-list .action-item-chocolate {
  background: #7d5442 url("../img/bg/action-bg-2.jpg") repeat-y 0 0;
}

.hit-products-wrapper {
  margin-bottom: 16px;
}

.map-contacts-wrapper {
  position: relative;

  height: 430px;
}

.map-contacts-wrapper .container {
  position: relative;
  z-index: 10;
}

.map-wrapper {
  width: 100%;
  height: 100%;
}

.contacts-wrapper {
  position: absolute;
  top: 62px;
  right: 27px;

  width: 302px;
  padding: 30px 25px;

  color: #323232;

  background-color: #fefefe;
  border-radius: 15px;
}

.contacts-wrapper .btn-form {
  display: block;
  margin-top: 23px;

  text-align: center;
}

.contacts-title {
  margin-top: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.contacts-wrapper .address-title {
  width: 150px;
  margin: 0;
}

.contacts-address {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.contacts-phone {
  display: block;
  margin-top: 5px;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #323232;
}

.contacts-time {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.catalog-page .product-wrapper {
  margin-bottom: 0;
  padding-bottom: 28px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 28px;
}

.header-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 270px;
  margin-left: auto;
}
.header-controls-wrapper {
  margin-left: 10px;
}

.header-controls-wrapper:first-child {
  margin-left: 0;
}

.header-controls .auth-wrapper,
.header-controls .search-wrapper,
.header-controls .basket-wrapper {
  position: relative;
}

.header-btn {
  display: block;
  padding: 7px 16px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  cursor: pointer;
}

.header-btn-search,
.header-auth {
  border: none;
}

.header-btn-search svg,
.header-auth svg,
.header-cart-link svg {
  display: inline-block;

  vertical-align: middle;

  fill: #ffffff;
}

.header-cart-link-empty:hover {
  color: #ffffff;
}

.header-auth svg,
.header-cart-link svg {
  margin-right: 4px;
}
.header-cart-link-full svg {
  margin-right: 6px;
}

.header-cart-link-full,
.header-cart-link-full:hover {
  color: #323232;

  background: rgba(248, 247, 244, 0.99);
}

.header-btn-search:hover,
.header-auth:hover {
  color: #323232;

  background-color: #f8f7f4;
}

.header-btn-search:hover svg,
.header-auth:hover svg {
  fill: #323232;
}

.header-form-auth,
.header-form-search,
.basket-content-wrapper {
  position: absolute;
  top: 37px;
  right: 0;

  width: 277px;
  padding: 18px 11px 18px 22px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.header-form-auth {
  right: -3px;

  padding: 21px 18px 21px 20px;
}

.header-form-auth input[type="text"],
.header-form-auth input[type="password"] {
  padding: 12px;
}

.basket-content-wrapper {
  width: 540px;

  color: #323232;
}

.basket-content {
  width: 100%;

  border-collapse: collapse;
  border-spacing: 0;
}

.basket-content-line td {
  padding-top: 11px;
  padding-bottom: 18px;

  vertical-align: top;
}

.basket-content-line .basket-item-price {
  padding-right: 8px;

  text-align: right;
}

.basket-item-price span {
  color: #999999;
}

.basket-content-line .basket-item-remove {
  width: 11px;
  padding-right: 9px;
  padding-left: 0;
}

.basket-content-line .basket-item-img {
  width: 33px;
  padding-top: 2px;
  padding-right: 11px;
}

.basket-item-img img {
  display: block;
}

.basket-item-remove button {
  width: 11px;
  height: 11px;

  background: url("../img/icons/cross-basket.svg") no-repeat center center;
  border: none;
  cursor: pointer;
}

.basket-content .basket-checkout {
  padding-top: 11px;

  text-align: right;
}

.btn-checkout {
  padding: 11px 15px;

  color: #fefefe;
}

.basket-content-line .basket-item-total {
  padding-right: 20px;

  text-align: right;
}

.basket-content .basket-content-sum {
  padding-top: 12px;

  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
}

.basket-content tbody {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  border-bottom: 1px solid #cacac7;
}

.basket-item-name {
  box-sizing: border-box;
  width: 220px;
}

.header-form-search {
  width: 341px;
  padding: 21px 16px;
}

.header-form-search input.header-form-search-query {
  padding: 12px;
}

.header-form-auth-actions {
  display: flex;
}

.header-form-auth-submit {
  margin-right: 20px;
  padding: 10px 24px;

  border-radius: 20px;
}

.header-btn-search {
  padding: 8px;
}

.search-wrapper::after,
.auth-wrapper::after,
.basket-wrapper::after,
.has-children::before {
  content: "";
  position: absolute;
  bottom: -15px;

  display: none;
  width: 100%;
  min-height: 15px;
}

.search-wrapper:hover::after,
.auth-wrapper:hover::after,
.basket-wrapper:hover::after,
.has-children:hover::before {
  display: block;
}

.auth-wrapper:hover form,
.basket-wrapper:hover .basket-content-wrapper,
.search-wrapper:hover form {
  z-index: 10;

  display: block;

  animation: show-up 0.5s ease;
}

.header-form-auth-field {
  margin: 0 0 22px;
}

.footer-menu-link,
.footer-copyright-text a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-menu-link:hover,
.footer-copyright-text a:hover,
.product-list-item .product-name-link:hover,
.breadcrumbs .breadcrumbs-link:hover {
  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

.breadcrumbs-item:last-child .breadcrumbs-link,
.breadcrumbs-item:last-child .breadcrumbs-link:hover {
  color: inherit;

  border-bottom: none;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  width: 339px;
  margin-top: 6px;

  font-weight: 400;
}

.footer-social {
  display: flex;
  margin-top: 12px;
}

.footer-social-item {
  margin-right: 11px;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.footer-social-link {
  display: block;
  box-sizing: border-box;
  width: 38px;
  height: 38px;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.footer-social-link:hover,
.footer-social-link:active {
  border-color: rgba(255, 255, 255, 0.7);
}

.footer-social-link svg {
  opacity: 0.8;

  fill: #ffffff;
}

.footer-social-link:hover svg {
  opacity: 1;

  fill: #ffffff;
}

.footer-copyright-logo img {
  display: block;
}

/*Catalog Page*/
.main-title {
  margin: 0;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.basket-wrapper .basket-content-wrapper {
  display: none;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 18px;
  margin-bottom: 2px;
}

.breadcrumbs .breadcrumbs-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs .breadcrumbs-item {
  position: relative;

  margin-right: 22px;
}

.breadcrumbs .breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs .breadcrumbs-item::after {
  content: "»";
  position: absolute;
  top: 0;
  right: -15px;
}

.breadcrumbs .breadcrumbs-item-current::after {
  display: none;
}

.filter-section {
  margin-top: 26px;
  margin-bottom: 40px;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 860px;
}

.filter-form fieldset {
  margin: 0 0 15px 0;
  padding: 0;

  border: none;
}

.filter-form .filler-filter {
  margin-bottom: 0;
}

.filler-filter .filter-content {
  padding: 7px 18px 7px 16px;
}

.fat-filter-list,
.filler-filter-list {
  display: flex;
}

.filter-content {
  padding: 7px 15px;

  text-transform: lowercase;

  background-color: rgba(255,255,255,0.2);
  border-radius: 35px;
}

.sort-filter .filter-content {
  height: 37px;
  padding: 0;

  background: none;
}

.price-filter .filter-content {
  padding: 16px 21px;
}

.sort-filter-list {
  width: 100%;
  margin: 0;
  padding: 9px 50px 9px 15px;

  font-weight: 500;
  color: #ffffff;

  background-color: rgba(255,255,255,0.2);
  background-image: url("../img/icons/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: center right 15px;
  background-size: 11px 10px;
  border: 0;
  border-radius: 35px;
  cursor: pointer;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .sort-filter-list {
    padding: 8px 50px 8px 15px;
  }
}

.sort-filter-list::-ms-expand {
  display: none;
}

.sort-filter-list:hover {
  color: #323232;
}

.sort-filter-list:hover {
  background-image: url("../img/icons/icon-down-dir-hover.svg");
}

.filter-form label {
  position: relative;

  cursor: pointer;
}

.filler-filter-list label,
.fat-filter-list label {
  padding-left: 32px;
}

.filler-filter-list label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 20px;
  height: 20px;

  background: url("../img/icons/checkbox-off.svg") no-repeat center center;
  background-size: 20px 20px;
}

input[type="checkbox"]:checked ~ label::before {
  width: 24px;

  background: url("../img/icons/checkbox-on.svg") no-repeat center center;
  background-size: 24px 20px;
}

.filler-filter-item,
.fat-filter-item {
  margin-right: 20px;
}

.filler-filter .filler-filter-item:nth-child(3) {
  margin-right: 23px;
}

.filler-filter .filler-filter-item:nth-child(4) {
  margin-right: 21px;
}

.filler-filter label[for="filler-filter-fruits"] {
  padding-left: 33px;
}

.filler-filter-item:last-child,
.fat-filter-item:last-child {
  margin-right: 0;
}

.filter-form input[type="checkbox"],
.filter-form input[type="radio"] {
  display: none;
}

.fat-filter-list label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  z-index: 1;

  width: 22px;
  height: 22px;

  background: url("../img/icons/radio-off.svg") no-repeat center center;
  background-size: 22px 22px;
}

.filter-form input[type="radio"]:checked ~ label::before {
  background: url("../img/icons/radio-on.svg") no-repeat center center;
  background-size: 22px 22px;
}

.range-slider-track {
  position: relative;

  min-width: 176px;
  height: 4px;
}

.range-slider-progress {
  height: 100%;

  background-color: rgba(248, 247, 244, 0.5);
}

.range-slider-progress-bar {
  height: 100%;

  background-color: #f8f7f4;
}

.price-filter input {
  display: none;
}

.range-slider-pin {
  position: absolute;
  top: -8px;

  width: 20px;
  height: 23px;

  background: url("../img/icons/filter-button.svg") no-repeat center center;
  cursor: pointer;
}

.filter-form-submit {
  padding: 7px 27px 7px 28px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 35px;
  cursor: pointer;
}

.filter-form-submit:hover {
  color: #323232;

  background-color: #ffffff;
}

.filter-form-submit:active {
  padding: 9px 32px;

  color: #323232;

  background-color: #ededed;
  border: none;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.product-wrapper {
  margin-bottom: 30px;
}

.product-list {
  flex-wrap: wrap;
}

.product-list-item {
  position: relative;

  width: 267px;
  margin-right: 26px;
  margin-bottom: 17px;
}

.product-list-item:hover {
  z-index: 10;
}

.product-list-item .product-actions {
  display: none;
}

.product-list-item:hover .product-actions {
  position: absolute;
  top: -6px;
  right: -13px;
  bottom: -60px;
  left: -13px;
  z-index: -1;

  display: block;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  opacity: 1;

  animation: show-up 0.4s ease;
}

.product-fast-view {
  position: absolute;
  bottom: 20px;
  left: 50%;

  white-space: nowrap;

  transform: translateX(-50%);
}

.hit-product-list .product-list-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 61px;
  height: 61px;

  background-image: url("../img/icons/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.product-list-item:nth-child(4n) {
  margin-right: 0;
}

.product-list-item:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.product-list-item .product-name {
  width: 257px;
  margin: 20px auto;

  text-align: center;
}

.product-list-item .product-name-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;

  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.product-list-item .product-image {
  display: block;
}

.product-list-item .product-price {
  position: relative;

  margin: -57px 0 0;
}

.products-pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 62px;
}

.products-pagination-item {
  margin-right: 2px;
}

.products-pagination-item:last-child,
.products-pagination-item:first-child {
  margin-right: 0;
}

.products-pagination-link {
  display: block;
  padding: 4px 9px;

  text-align: center;

  border-radius: 50%;
}

.products-pagination-link:not(.prev):not(.next):not(.active):hover {
  color: #ffffff;

  background-color: rgba(255,255,255,0.2);
}

.products-pagination-link.active:not(.prev):not(.next),
.products-pagination-link:active:not(.prev):not(.next) {
  color: #353535;

  background-color: #ffffff;
}

.products-pagination-link.prev {
  margin-right: 6px;
}

.products-pagination-link.next {
  margin-left: 6px;
  padding-right: 0;
}

.products-pagination-link.prev svg {
  transform: rotate(180deg);
  opacity: 0.2;
}

.products-pagination-link.prev svg,
.products-pagination-link.next svg {
  fill: #ffffff;
}

.modal-show {
  display: block;

  animation: bounce 0.6s;
}

@keyframes show-up {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
