@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
  url('../fonts/roboto.woff2') format('woff2'),
  url('../fonts/roboto.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
  url('../fonts/robotomedium.woff2') format('woff2'),
  url('../fonts/robotomedium.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
  url('../fonts/robotobold.woff2') format('woff2'),
  url('../fonts/robotobold.woff') format('woff');
}

body {
  padding: 0;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;

  background-color: #849d8f;

  transition: background-color 0.5s ease;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover,
a:active {
  color: #ffbc9e;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden-block {
  display: none;
}

.reset-default-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  border-radius: 50px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: inherit;
  background: rgb(231, 74, 53);
  background-image: linear-gradient(90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);

  border: none;
  box-shadow: 0 2px 0 0 #ac1000;
  cursor: pointer;
  white-space: nowrap;
  color: #fefefe;
}

.btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  color: #fefefe;
}

.btn:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  color: #fefefe;
}

.container {
  width: 1200px;
  padding: 0 27px;
  margin: 0 auto;
}

.main-header {
  position: relative;
  z-index: 10;
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.main-navigation {
  display: flex;
  font-size: 16px;
  line-height: 18px;

  align-items: center;
}

.main-logo-link {
  margin-right: 24px;
  margin-top: 8px;
}

.main-logo-img{
  display: block;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #ffbc9e;
}

.main-menu {
  display: flex;
}

.main-menu .main-menu-link {
  padding: 7px 14px;
  border-radius: 50px;
  position: relative;
}

.main-menu .main-menu-link::after {
  content: "";
  position: absolute;
  background-color: rgba(255,255,255,.2);
  height: 1px;
  bottom: 6px;
  left: 14px;
  right: 14px;
}

.main-navigation .main-menu-link:hover {
  background-color: #f7f6f3;
  color: #323232;
}

.main-menu-link:hover::after,
.main-menu-link.active::after{
  display: none;
}

.main-menu .main-menu-sub {
  display: none;
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  position: absolute;
  margin: 0;
  margin-top: 13px;
  padding: 7px 0;
  list-style: none;
  z-index: 10;
}

.main-menu-item.has-children {
  position: relative;
}

.main-menu-sub-item:first-child {
  margin-bottom: 10px;
  /*border-bottom: 1px solid rgba(53, 53, 53, .2);*/
  font-weight: 700;
  position: relative;
}

.main-menu-sub-item:first-child::before {
  content: "";
  display: block;
  height: 1px;
  background-color: rgba(53, 53, 53, .2);
  position: absolute;
  bottom: -1px;
  left: 6px;
  right: 9px;
}

.main-menu-sub .main-menu-sub-link,
.main-menu-sub .main-menu-sub-link:hover,
.main-menu-sub .main-menu-sub-link:active {
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  white-space: nowrap;
}

.main-menu-sub .main-menu-sub-link.active {
  background-color: #d07058;
}

.main-menu-sub-link {
  display: block;
  padding: 6px 20px;
}

.main-menu-sub-item:hover {
  background-color: #fbded7;
}

.main-menu-sub-item:active {
  background-color: #f6b5a5;
}

.main-menu-item:hover .main-menu-sub {
  display: block;
}

.main-menu-link.active {
  background-color: #d07058;
  padding: 7px 14px;
  border-radius: 50px;
  color: #ffffff;
}

.header-form-auth-link {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.header-controls .header-form-search,
.header-controls .header-form-auth {
  display: none;
}

.header-contact-info {
  position: absolute;
  bottom: -30px;
  right: 27px;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.header-contact-info-link {
  display: block;
  font-size: 22px;
  line-height: 24px;
}

.container-front {
  margin-top: -72px;
}

.best-product-slider {
  position: relative;
}

.best-product-slider .slider-navigation {
  position: absolute;
  bottom: 50px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
}

.slider-navigation-item {
  margin-right: 6px;
}

.slider-navigation-item:last-child {
  margin-right: 0;
}

.slider-navigation-item button {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  border: 2px solid #ffffff;
  cursor: pointer;
  outline: none;
}

.slider-navigation-item.active button,
.slider-navigation-item.active:hover button{
  background-color: #ffffff;
}

.slider-navigation-item:hover button {
  background-color: rgba(248, 247, 244, 0.4);
}

.best-product-slider .slider-item {
  display: none;
}

.best-product-slider .slider-item.active {
  display: block;
  opacity: 1;
  animation: show-up 1s ease;
}

.best-product-slider .slider-item {
  position: relative;
  text-align: center;
}

.slider-item-content {
  position: absolute;
  top: 375px;
  width: 100%;
}

.slider-list {
  height: 645px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-list .slider-text {
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  display: block;
}

.btn-slider-order {
  margin-top: 39px;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  padding-left: 43px;
  padding-right: 43px;
}

.advantages-wrapper {
  padding: 30px 20px;
  margin-bottom: 40px;
  border-radius: 15px;
  color: #323232;
  background-color: #eee0c4;
  background: url("../img/bg/adv-bg.jpg") repeat-x 0 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages-wrapper-title {
  margin-top: 0;

  font-size: 24px;
  line-height: 30px;
}

.advantages-item {
  position: relative;
  width: 535px;
  padding-left: 57px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.advantages-item p {
  margin: 13px 0;
}

.advantages-item:nth-last-of-type(-n+2) p{
  margin-bottom: 0;
}

.advantages-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 49px;
  height: 49px;
}

.advantages-item-ice::before {
  background: url("../img/icons/adv-ice-cream.svg") no-repeat center center;
}

.advantages-item-cow::before {
  background: url("../img/icons/adv-cow.svg") no-repeat center center;
}

.advantages-item-leaf::before {
  background: url("../img/icons/adv-leaf.svg") no-repeat center center;
}

.advantages-item-therm::before {
  background: url("../img/icons/adv-thermometer.svg") no-repeat center center;
}

.blog-subscribe-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog-wrapper {
  width: 560px;
  padding: 25px 20px;
  background-color: #ffffff;
  background: url("../img/bg/blog-bg.jpg") no-repeat 0 0;
  border-radius: 15px;
}

.blog-title {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  margin: 0;
}

.blog-element-name {
  width: 290px;
  margin: 5px 0;
}

.blog-element-link {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  border-bottom: 2px solid #353535;
}

.blog-element-link:hover,
.blog-element-link:active {
  color: #e84d37;
  border-bottom-color: rgba(236, 89, 60, .3);
}

.subscribe-wrapper {
  position: relative;
  width: 560px;
  background: url("../img/bg/subscribe-bg.svg") no-repeat 0 0;
  border-radius: 15px;
  min-height: 220px;
}

.subscribe-wrapper .subscribe-container {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  background-color: #f8f7f4;
  border-radius: 15px;
  padding: 30px 20px;
}

.subscribe-text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;
  margin: 0;
}

.subscribe-form {
  display: flex;
  margin-top: 40px;
}

.subscribe-form .subscribe-form-email {
  margin-right: 10px;
}

.footer-menu-link {
  font-size: 13px;
  line-height: 18px;
}

.footer-menu-item {
  width: 50%;
}

.footer-menu-item:nth-child(odd) {
  padding-left: 22px;
}

.footer-menu-item-love {
  font-weight: 700;
  position: relative;
}

.footer-menu-item-love::before {
  content: "";
  background: url("../img/icons/heart.svg");
  width: 15px;
  height: 13px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -6px;
}

.footer-copyright-text {
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  margin-top: 5px;
}

.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form textarea {
  font-weight: 400;
  color: #999999;
  border: none;
  outline: none;
  box-shadow: 0 0 0 1pt rgba(178, 178, 178, .52);
  border-radius: 5px;
  padding: 14px;
  width: 100%;
}

.form textarea {
  resize: none;
}

.form input[type="text"]:hover,
.form input[type="password"]:hover,
.form input[type="email"]:hover,
.form textarea:hover {
  box-shadow: 0 0 0 2px rgba(154, 154, 154, .52);
}

.form input[type="text"]:focus,
.form input[type="password"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
  box-shadow: 0 0 0 2px rgba(46, 136, 228, .52);
}

.form input[type="text"]:not(:placeholder-shown),
.form input[type="password"]:not(:placeholder-shown),
.form input[type="email"]:not(:placeholder-shown),
.form textarea:not(:placeholder-shown) {
  color: #323232;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.modal {
  display: none;
  background-color: #f8f7f4;
  position: fixed;
  border-radius: 8px;
  z-index: 100;
}

.modal-feedback {
  top: 150px;
  left: 50%;
  width: 477px;
  margin-left: -238px;
  padding: 24px;
}

.feedback-form-title {
  margin-top: 0;
  margin-bottom: 25px;
}

.feedback-form {
  position: relative;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"] {
  width: 267px;
}

.feedback-form textarea {
  height: 155px;
}

.feedback-form-field {
  margin: 0 0 20px;
}

.feedback-form-submit {
  float: right;
}

.modal .form-close {
  width: 18px;
  height: 17px;
  background: url("../img/icons/cross-popup.svg") no-repeat center center;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 15px;
}

.feedback-form-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.feedback-form input::placeholder,
.feedback-form textarea::placeholder {
  color: #999999;
}

.product-list {
  display: flex;
}

.product-list .product-price {
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.product-list .product-price-measure {
  font-size: 30px;
}

.products-pagination {
  font-size: 16px;
  line-height: 18px;
}

.filter-form label {
  font-size: 16px;
  line-height: 18px;
}

.filter-form legend {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 10px;
}

.actions-wrapper {
  margin-bottom: 40px;
  position: relative;
  z-index: 10;
}

.actions-list {
  display: flex;
  justify-content: space-between;
}

.actions-list .action-item {
  width: 560px;
  min-height: 229px;
  border-radius: 15px;
  padding: 17px 20px;
  display: flex;
  flex-wrap: wrap;
}

.actions-list .action-name {
  font-size: 35px;
  line-height: 41px;
  margin: 0;
}

.actions-list .action-text {
  font-size: 18px;
  line-height: 22px;
  margin-top: 13px;
}

.actions-list .btn-action {
  margin-top: auto;
  margin-left: auto;
}

.actions-list .action-item-raspberry {
  background: url("../img/bg/action-bg-1.jpg") repeat-y 0 0;
}

.actions-list .action-item-chocolate {
  background: url("../img/bg/action-bg-2.jpg") repeat-y 0 0;
}

.hit-products-wrapper {
  margin-bottom: 40px;
}

.map-contacts-wrapper {
  height: 430px;
  position: relative;
}

.map-contacts-wrapper .container {
  position: relative;
  z-index: 10;
}

.map-wrapper {
  width: 100%;
  height: 100%;
}

.contacts-wrapper {
  position: absolute;
  top: 55px;
  right: 27px;
  color: #323232;
  background-color: #fefefe;
  width: 302px;
  padding: 30px 25px;
  border-radius: 15px;
}

.contacts-title{
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-top: 0;
}

.contacts-address{
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts-phone {
  display: block;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #323232;
  margin-top: 5px;
}

.contacts-time {
  font-size: 14px;
  line-height: 22px;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 25px;
}

.header-controls {
  display: flex;
  width: 270px;
  justify-content: flex-end;
  align-items: center;
}
.header-controls-wrapper {
  margin-left: 10px;
}

.header-controls-wrapper:first-child {
  margin-left: 0;
}

.header-controls .auth-wrapper,
.header-controls .search-wrapper,
.header-controls .basket-wrapper {
  position: relative;
}

.header-btn {
  display: block;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  padding: 7px 16px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}

.header-btn-search,
.header-auth {
  border: none;
}

.header-btn-search svg,
.header-auth svg,
.header-cart-link svg {
  display: inline-block;
  vertical-align: middle;

  fill: #ffffff;
}

.header-cart-link-empty:hover {
  color: #ffffff;
}

.header-auth svg,
.header-cart-link svg {
  margin-right: 8px;
}

.header-cart-link-full,
.header-cart-link-full:hover {
  background: rgba(248, 247, 244, .99);
  color: #323232;
}

.header-btn-search:hover,
.header-auth:hover {
  background-color: #f8f7f4;
  color: #323232;
}

.header-btn-search:hover svg,
.header-auth:hover svg {
  fill: #323232;
}

.header-form-auth,
.header-form-search,
.basket-content-wrapper {
  position: absolute;
  right: 0;
  top: 37px;
  width: 277px;
  padding: 20px 18px;

  background-color: #f8f7f4;
  border-radius: 5px;
}

.basket-content-wrapper {
  color: #323232;
  width: 540px;
}

.basket-content {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.basket-content tbody::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #999999;
}

.basket-content td {
  padding: 0;
}

.basket-content-line td {
  padding-bottom: 20px;
}

.basket-item-price {
  text-align: right;
}

.basket-item-price span {
  color: #999999;
}

.basket-content-line .basket-item-remove {
  width: 11px;
  padding-right: 10px;
}

.basket-content-line .basket-item-img {
  width: 33px;
  padding-right: 14px;
}

.basket-item-remove button{
  background: url("../img/icons/cross-basket.svg") no-repeat center center;
  border: none;
  width: 11px;
  height: 11px;
  cursor: pointer;
}

.basket-content .basket-checkout {
  text-align: right;
  padding-top: 18px;
}

.btn-checkout {
  color: #fefefe;
}

.basket-item-total {
  text-align: right;
}

.basket-content  .basket-content-sum {
  text-align: right;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  padding-top: 18px;
}

.basket-content tbody {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  border-bottom: 1px solid #cacac7;
}

.basket-item-name {
  box-sizing: border-box;

  width: 220px;

}

.header-form-search {
  width: 340px;
}

.header-form-auth-actions {
  display: flex;
}

.header-form-auth-submit {
  margin-right: 20px;
}

.header-btn-search {
  padding: 8px;
}

.search-wrapper::after,
.auth-wrapper::after,
.basket-wrapper::after,
.has-children::before{
  content: "";
  display: none;
  position: absolute;
  min-height: 15px;
  width: 100%;
  bottom: -15px;
}

.search-wrapper:hover::after,
.auth-wrapper:hover::after,
.basket-wrapper:hover::after,
.has-children:hover::before {
  display: block;
}

.auth-wrapper:hover form,
.basket-wrapper:hover .basket-content-wrapper,
.search-wrapper:hover form{
  display: block;
  z-index: 10;
  animation: show-up 0.5s ease;
}

.header-form-auth-field {
  margin: 0 0 20px;
}

.footer-menu-link,
.footer-copyright-text a {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.footer-menu-link:hover,
.footer-copyright-text a:hover,
.product-list-item .product-name-link:hover,
.breadcrumbs .breadcrumbs-link:hover {
  border-bottom: 1px solid rgba(249, 172, 159, .3);
}

.breadcrumbs-item:last-child .breadcrumbs-link,
.breadcrumbs-item:last-child .breadcrumbs-link:hover {
  border-bottom: none;
  color: inherit;
}

.footer-menu {
  display: flex;
  width: 330px;
  flex-wrap: wrap;
}

.footer-social {
  display: flex;
}

.footer-social-item {
  margin-right: 11px;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.footer-social-link {
  display: block;

  width: 38px;
  height: 38px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.5);
}

.footer-social-link:hover,
.footer-social-link:active {
  border-color: rgba(255, 255, 255, 0.7);
}

.footer-social-link svg {
  fill: #ffffff;
  opacity: 0.8;
}

.footer-social-link:hover svg {
  fill: #ffffff;
  opacity: 1;
}

.footer-copyright-logo img {
  display: block;
}

/*Catalog Page*/
.basket-wrapper .basket-content-wrapper {
  display: none;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.breadcrumbs .breadcrumbs-link {
  font-weight: 400;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs .breadcrumbs-item {
  position: relative;
  margin-right: 22px;
}

.breadcrumbs .breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs .breadcrumbs-item::after {
  content: "»";

  position: absolute;
  top: 0;
  right: -15px;
}

.breadcrumbs .breadcrumbs-item-current::after {
  display: none;
}

.filter-section {
  margin-bottom: 40px;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 860px;
}

.filter-form fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 18px;
}

.filter-form .filler-filter{
  margin-bottom: 0;
}

.fat-filter-list,
.filler-filter-list {
  display: flex;
}

.filter-content {
  background-color: rgba(255,255,255,.2);
  text-transform: lowercase;
  padding: 7px 16px;
  border-radius: 35px;
}

.sort-filter .filter-content {
  /*background-color: rgba(248, 247, 244, .2);*/
  background: none;
  padding: 0;
  width: 193px;
  height: 37px;
}

.price-filter .filter-content {
  padding-top: 16px;
  padding-bottom: 16px;
}

.sort-filter-list {
  font-weight: 500;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(255,255,255,.2);
  background-image: url("../img/icons/icon-down-dir.svg");
  background-size: 11px 10px;
  background-repeat: no-repeat;
  background-position: center right 10px;
  border: 0;
  color: #ffffff;
  padding: 9px 32px 10px 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 35px;
  cursor: pointer;
}

.sort-filter-list:hover {
  color: #323232;
}

.sort-filter-list:hover {
  background-image: url("../img/icons/icon-down-dir-hover.svg");
}

.filter-form label {
  position: relative;
  cursor: pointer;
}

.filter-form legend {
  padding-left: 16px;
}

.filler-filter-list label,
.fat-filter-list label {
  padding-left: 34px;
}

.filler-filter-list label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 20px;
  height: 20px;
  background: url("../img/icons/checkbox-off.svg") no-repeat center center;
  background-size: 20px 20px;
}

input[type="checkbox"]:checked ~ label::before {
  width: 24px;
  background: url("../img/icons/checkbox-on.svg") no-repeat center center;
  background-size: 24px 20px;
}

.filler-filter-item,
.fat-filter-item {
  margin-right: 20px;
}

.filler-filter-item:last-child,
.fat-filter-item:last-child {
  margin-right: 0;
}

.filter-form input[type="checkbox"],
.filter-form input[type="radio"] {
  display: none;
}

.fat-filter-list label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  z-index: 1;
  width: 22px;
  height: 22px;
  background: url("../img/icons/radio-off.svg") no-repeat center center;
  background-size: 22px 22px;
}

input[type="radio"]:checked ~ label::before {
  background: url("../img/icons/radio-on.svg") no-repeat center center;
  background-size: 22px 22px;
}

.range-slider-track {
  height: 5px;
  background: rgba(248, 247, 244, 0.5);
  display: flex;
  min-width: 176px;
}

.price-filter input {
  display: none;
}

.range-slider-pin {
  width: 20px;
  height: 20px;
  background: url("../img/icons/filter-button.svg") no-repeat center center;
  background-size: 20px 20px;
  top: -6px;
  position: relative;
  cursor: pointer;
}

.filter-form-submit {
  border: 2px solid #ffffff;
  border-radius: 35px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  place-self: flex-end;
  padding: 7px 30px;
  cursor: pointer;
}

.filter-form-submit:hover {
  background-color: #ffffff;
  color: #323232;
}

.filter-form-submit:active {
  padding: 9px 32px;
  border: none;
  background-color: #ededed;
  color: #323232;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.product-wrapper {
  margin-bottom: 30px;
}

.product-list {
  flex-wrap: wrap;
}

.product-list-item {
  position: relative;
  width: 267px;
  margin-right: 26px;
}

.product-list-item:hover {
  z-index: 10;
}

.product-list-item .product-actions {
  display: none;
}

.product-list-item:hover .product-actions {
  display: block;
  opacity: 1;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
  top: -6px;
  left: -13px;
  right: -13px;
  bottom: -60px;
  border-radius: 5px;
  animation: show-up 0.4s ease;
}

.product-fast-view {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.hit-product-list .product-list-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 61px;
  height: 61px;
  background-image: url("../img/icons/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.product-list-item:nth-child(4n) {
  margin-right: 0;
}

.product-list-item .product-name {
  text-align: center;
}

.product-list-item .product-name-link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;

  border-bottom: 1px solid rgba(255,255,255,.2);
}

.product-list-item img {
  display: block;
}

.product-list-item .product-price {
  position: relative;
  margin: -60px 0 0;
}

.products-pagination {
  display: flex;
  justify-content: flex-end;
}

.products-pagination-link {
  display: block;
  padding: 5px 10px;
  text-align: center;
  border-radius: 50%;
}

.products-pagination-link:not(.prev):not(.next):not(.active):hover {
  background-color: rgba(255,255,255,.2);
  color: #ffffff;
}

.products-pagination-link.active,
.products-pagination-link:active {
  background-color: #ffffff;
  color: #353535;
}

.products-pagination-link.prev {
  margin-right: 6px;
}

.products-pagination-link.next {
  margin-left: 6px;
}

.products-pagination-link.prev svg {
  transform: rotate(180deg);
  opacity: 0.2;
}

.products-pagination-link.prev svg,
.products-pagination-link.next svg{
  fill: #ffffff;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

@keyframes show-up {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
